# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# HuggingFace models
models/
!models/.gitkeep  # opcional si quieres dejar la carpeta vacía


# Large files
*.bin
*.pt
*.h5
*.safetensors

# VSCode
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
